@import "tailwindcss";

:root {
 
  --c-primary:   #FF6B00;
  --c-hover:     #E65F00; 
  --c-maroon:    #CC5500;
  --c-ink:       #0D0D0D; 
  --c-brown:     #1A1A1A; 
  --c-graydark:  #262626;
  --c-gray:      #808080; 
  --c-slate:     #A6A6A6; 
  --c-graylite:  #E5E5E5; 
}